<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="text-center mt-4 mb-3">
            <span class="modaltitle" id="modal-title-default"></span>
        </div>
        <div class="text-center logo-font modal-mess my-4">
            Спасибо заявка создана успешно!
        </div>
        <div class="text-center mb-4">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="click()"> Ок </button>
        </div>
    </div>
</ng-template>