<div class="sidenav">
    <a href="#">Заявки</a>
    <a href="#">Справочники</a>
    <a href="#">Избирательный участок</a>
    <a href="#">Информационный портал</a>
    <a href="#">Контакты</a>
</div>

<!-- Page content -->
<div class="main">

    <div class="d-flex py-5">
        <button class="btn btn-primary mr-3" (click)="viewTask()">История заявок</button>
        <button class="btn btn-primary" (click)="createTask()">Создание заявки</button>
    </div>
    <div *ngIf="isViewtask; else newTask">
        <app-table [newItem]='newItem'></app-table>
    </div>
    <ng-template #newTask>
        <div class="form-group">
            <label class="form-control-label"> Локация </label> <br>
            <button class="btn btn-primary" (click)="getLocation()">Выбрать локацию</button>
        </div>
        <div class="form-group">
            <label class="form-control-label"> Тип проблемы </label>
            <ng-select id="simple-ng-select" placeholder="Выберете тип проблемы" [clearable]="false" [dropdownPosition]="'bottom'" class="required" [items]="items" bindValue="value" [searchable]="false" bindLabel="text" formControlName="problemsType" [multiple]="false"
                required>
            </ng-select>
        </div>
        <div class="form-group">
            <label class="form-control-label"> Описание проблемы </label>
            <textarea class="form-control" placeholder="Опишите проблему" name="textarea" rows="4" formControlName="problemDescription"></textarea>
        </div>

        <div class="form-group">
            <label class="form-control-label"> Загрузите файл </label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>

        <button class="btn btn-primary" (click)="create()">Создать заявку</button>
    </ng-template>




</div>


<app-modal (emitData)="addNewTask()"></app-modal>

<app-modal-location></app-modal-location>