<div class="container ">
    <div class="py-5">
        <div class="form-group">
            <label class="form-control-label"> Локация </label> <br>
            <button class="btn btn-primary" (click)="getLocation()">Выбрать локацию</button>
        </div>
        <div class="form-group">
            <label class="form-control-label"> Тип проблемы </label>
            <ng-select id="simple-ng-select" placeholder="Выберете тип проблемы" [clearable]="false" [dropdownPosition]="'bottom'" class="required" [items]="items" bindValue="value" [searchable]="false" bindLabel="text" formControlName="problemsType" [multiple]="false"
                required>
            </ng-select>
        </div>
        <div class="form-group">
            <label class="form-control-label"> Тип проблемы </label>
            <textarea class="form-control" placeholder="Опишите проблему" name="textarea" rows="4" formControlName="problemDescription"></textarea>
        </div>
    </div>

</div>

<app-modal-location></app-modal-location>